themeElementObservableIntMap.put("$themeElementProviderKey", new android.databinding.ObservableInt() {
    @Override
    public int get() {
        return getIdentifier("$themeElementProviderKey");
    }
});